<header class="site-header{% if page.url == '/' %} site-header--overlay{% endif %}">
  {% unless page.url == '/' %}
    <a
      href="{{ '/' | relative_url }}"
      class="site-header__home-link"
      aria-label="{{ site.title }}"
      data-prefetch="{{ '/' | relative_url }}"
    >
      {% include logo.html class="site-header__logo" %}
    </a>
  {% endunless %}
  <nav class="site-nav">
    {% for item in site.navigation %}
      <a
        class="site-nav__link{% if page.url == item.url %} site-nav__link--active{% endif %}"
        href="{{ item.url | relative_url }}"
        data-prefetch="{{ item.url | relative_url }}"
        >{{ item.name }}</a
      >
    {% endfor %}
  </nav>
</header>
